<%= form_for(@interface, html: {class: 'form-horizontal'}) do |f| %>
  <%= f.error_notification %>

  <div class="form-inputs">
    <div class="form-group row">
      <%= f.label :ip, class: 'col-md-6 col-xs-12 control-label' do %>
        IP Address
        <%= f.text_field :ip, class: 'form-control is-invalid ip-field', placeholder: 'ex: 192.168.1.1', required: true, pattern: "(([0-9]|[1-9][0-9]|1[0-9]{2}|2[0-4][0-9]|25[0-5])\.){3}([0-9]|[1-9][0-9]|1[0-9]{2}|2[0-4][0-9]|25[0-5])" %>
      <% end %>

      <%= f.label :ddns, class: 'control-label col-md-6 col-xs-12' do %>
        DDNS
        <%= f.text_field :ddns, class: 'form-control', placeholder: 'Optional' %>
      <% end %>
    </div>
    <div class="form-group row">
      <%= f.label :hostname, class: 'control-label col-xs-12 col-md-6' do %>
        Hostname
        <%= f.text_field :hostname, class: 'form-control', placeholder: 'Optional' %>
      <% end %>

      <%= f.label :port, class: 'control-label col-xs-12 col-md-6' do %>
        Port
        <%= f.number_field :port, class: 'form-control', placeholder: 'Optional' %>
      <% end %>
    </div>
  </div>

  <div class="d-flex">
    <div class="ml-auto">
      <%= f.submit class: 'btn btn-primary' %>
      <%= link_to "Cancel", interfaces_path, class: 'btn btn-outline-default' %>
    </div>
  </div>
<% end %>

<script type="text/javascript" charset="utf-8">
$(function(){
  let ipfield = document.querySelector('.ip-field')
  toggleValidity(ipfield)
})
</script>
