<div class="row">
  <div class="col-12">
    <div class="card card-default position-relative inspectable">
      <!-- component-title: Active Users Table -->
      <div class="card-header">
        <h6>Interfaces</h6>

        <%= link_to new_interface_path, class: 'btn btn-primary btn-circle add-interface' do %>
          Add Interface &nbsp;
          <i class="fa fa-plus" style="color: #2E354F;" ></i>

        <% end %>

      </div>
      <div class="table-responsive">
        <table class="table table-hover table-striped">
          <thead>
          <tr>
            <th>#</th>
            <th>IP</th>
            <th>DDNS</th>
            <th>Status</th>
            <th>Port</th>
            <th class="center">Actions</th>
          </tr>
          </thead>

          <tbody>
          <% @interfaces.each do |interface| %>
            <tr>
              <td>1</td>
              <td><strong class="medtur"><%= interface.ip %></strong></td>
              <td><%= interface.ddns %></td>
              <td>
                <span class="badge badge-<%= interface.last_response ? 'success' : 'danger' %>"><%= interface.ui_life_status %></span>
              </td>
              <td><%= interface.port %></td>
              <td>
                <div class="center  btn-group-xs">
                  <i class="fa fa-sticky-note fa-2x"></i>
                  <%= link_to edit_interface_path(interface) do  %>
                    <i class=" center fa fa-pencil fa-2x middle"></i>
                  <% end %>
                  <%= link_to interface_check_pulse_path(interface) do %>
                    <i class="fa fa-refresh fa-2x " data-id="<%= interface.id %>"></i>
                  <% end %>
                </div>
              </td>
            </tr>
          <% end %>
          </tbody>
        </table>
      </div>

    </div>
  </div>
</div>

<script type="text/javascript" charset="utf-8">
  $(function () {
    $('.fa-refresh').on('click', function(e){
      e.preventDefault();
      let $this = $(this);
      let id  = $this.data('id');
      $this.addClass('fa-spin');
      $.get('interfaces/' + id + '/check_pulse', {interface_id: id}).always(function(){
        $this.removeClass('fa-spin');
        // difficult jump to get to badge
        $this.parents('td').siblings().children('span.badge').removeClass(('animated rubberBand')).addClass('animated rubberBand')
      })
    })
    $('.add-interface').on('click', function (e) {
    })
  })
</script>
<style>
  .medtur {
    color: mediumturquoise;
  }
  .fa {
    color: mediumturquoise;
  }
  .middle {
    margin: 0 20px;
  }
</style>
